<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/home']">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/ejercicios']">Ejercicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/quiensoy']">Quien soy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/casa']">Template</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/login2']">Login2</a>
                </li>
            </ul>
        </div>
        <div class="user-info" *ngIf="this.usuarioService.usuario">
            <i class="bi bi-twitch"></i>
            <div>{{ this.usuarioService.usuario.nombre }}</div>            
            <button class="btn btn-small" (click)="onClickLogout()">Logout</button>
        </div>
    </div>
</nav>